<p style="color: green"><%= notice %></p>
<h3>Show category</h3>
<hr>

<%= render @category %>

<div class="flex-row ">
  <%= link_to "Edit this category", edit_category_path(@category), class: "btn btn-primary" %>
  <%= link_to "Back to categories", categories_path, class: "btn btn-success" %>
  <%= link_to "Delete this category", @category, method: :delete, class: "btn btn-warning" %>
</div>
