<div id="<%= dom_id operation %>">

<div class="row border align-items-center text-center border-secondary rounded">
      <div class="col-md-1"><%= operation.id %></div>
      <div class="col-md-2"><%= operation.amount %></div>
      <div class="col-md-2"><%= operation.date %></div>
      <div class="col-md-2"><%= operation.description %></div>
      <div class="col-md-2"><%= operation.category.id%></div>
      <div class="col-md-3 d-flex">
        <%= link_to "Edit", edit_category_operation_path(operation.category.id.to_s, operation), class: "btn btn-sm btn-primary mr-2" %>
        <%= button_to "Delete", [@category, operation], method: :delete, class: "btn btn-sm btn-warning" %> 
        
      </div>
</div>
