<p style="color: green"><%= notice %></p>

<%= render @operation %>

<div>
  <%= link_to "Edit", edit_category_operation_path(@category, operation), class: "btn btn-sm btn-primary mr-2" %>
  <%= button_to "Delete", [@category, @operation], method: :delete, class: "btn btn-sm btn-warning" %>
          
  <%= link_to "Back to transactions", category_operations_path, class:"btn btn-success" %>

  
</div>
